
.container{
    max-width: 600px;
    max-height: 600px;
    position: relative;
}
#road{
    max-width: 600px;
    max-height: 600px;
    object-fit: fill;
    z-index: -100;
    /*タッチできないようにする*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    /*長押しできないように*/
    pointer-events: none;
}
#collision{
    position: absolute;
    max-width: 400px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 0;
}
#text{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    color: white;
    white-space: nowrap;
    /*タッチできないようにする*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    /*長押しできないように*/
    pointer-events: none;
}
#resultDiv{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    /*タッチできないようにする*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    /*長押しできないように*/
    pointer-events: none;
}
#buttonDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}
#peopleDiv{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /*タッチできないようにする*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    /*長押しできないように*/
    pointer-events: none;
}
#soundImg{
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 10;
    filter: drop-shadow(10px 10px 5px #55555588);
}